.info-about-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #141414;
  font-family: "Inter";
}
@media (max-width: 1024px) {
  .info-about-us {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .info-about-us {
    grid-template-columns: repeat(1, 1fr);
  }
}
.info-about-us .info-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #262626;
  border-top: 0;
  padding: 50px 40px;
}
.info-about-us .info-box:first-child {
  border-left: none;
}
.info-about-us .info-box:last-child {
  grid-column: span 3;
  border-left: none;
}
@media (max-width: 1024px) {
  .info-about-us .info-box {
    gap: 20px;
    padding: 40px 20px;
  }
  .info-about-us .info-box:last-child {
    grid-column: span 1;
  }
}
@media (max-width: 767px) {
  .info-about-us .info-box {
    gap: 30px;
    padding: 30px 16px;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #262626;
  }
  .info-about-us .info-box:nth-child(3) {
    border-bottom: 1px solid #262626;
  }
}
.info-about-us .info-box .info-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1024px) {
  .info-about-us .info-box .info-description {
    gap: 10px;
  }
}
.info-about-us .info-box .info-description span {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 24px;
  border: 1px solid #262626;
  border-radius: 8px;
  background-color: #1a1a1a;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1024px) {
  .info-about-us .info-box .info-description span {
    padding: 12px 10px;
  }
}
@media (hover: hover) {
  .info-about-us .info-box .info-description span:hover {
    cursor: pointer;
    background-color: #262626;
  }
}
@media (hover: none) {
  .info-about-us .info-box .info-description span:active {
    cursor: pointer;
    background-color: #262626;
  }
}
.info-about-us .info-box .info-description span p {
  font-size: 16px;
  color: #98989a;
}
@media (max-width: 1024px) {
  .info-about-us .info-box .info-description span p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .info-about-us .info-box .info-description span p {
    font-size: 16px;
  }
}
.info-about-us .info-box .info-description .info-address {
  font-size: 16px;
  color: #98989a;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1024px) {
  .info-about-us .info-box .info-description .info-address {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .info-about-us .info-box .info-description .info-address {
    font-size: 16px;
  }
}
.info-about-us .info-box .info-social-icons {
  display: flex;
  gap: 25px;
}
@media (max-width: 1024px) {
  .info-about-us .info-box .info-social-icons {
    flex-direction: row;
    gap: 8px;
  }
}
@media (max-width: 767px) {
  .info-about-us .info-box .info-social-icons {
    flex-direction: row;
    gap: 10px;
  }
}
.info-about-us .info-box .info-social-icons span {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  width: -moz-fit-content;
  width: fit-content;
}
.info-about-us .info-box .info-social-icons span p {
  font-size: 22px;
  color: #fff;
}
@media (max-width: 1024px) {
  .info-about-us .info-box .info-social-icons span p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .info-about-us .info-box .info-social-icons span p {
    display: none;
  }
}
@media (max-width: 1024px) {
  .info-about-us .info-box .info-social-icons span {
    padding: 12px 14px;
  }
}
@media (max-width: 767px) {
  .info-about-us .info-box .info-social-icons span {
    padding: 15px 18px;
  }
}
@media (hover: hover) {
  .info-about-us .info-box .info-social-icons span:hover {
    cursor: pointer;
    background-color: #262626;
  }
}
@media (hover: none) {
  .info-about-us .info-box .info-social-icons span:active {
    cursor: pointer;
    background-color: #262626;
  }
}
.info-about-us .info-box h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .info-about-us .info-box h3 {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .info-about-us .info-box h3 {
    font-size: 20px;
  }
}

.contact-form {
  display: flex;
  justify-content: space-between;
  background-color: #141414;
  font-family: "Inter";
}
@media (max-width: 767px) {
  .contact-form {
    flex-direction: column;
    padding: 20px 16px;
  }
}
.contact-form .contact-form-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  border-right: 1px solid #262626;
  padding: 60px 50px;
}
@media (max-width: 1024px) {
  .contact-form .contact-form-left {
    gap: 20px;
    padding: 40px 20px;
  }
}
@media (max-width: 767px) {
  .contact-form .contact-form-left {
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #262626;
  }
}
.contact-form .contact-form-left .contact-form-left-title h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .contact-form .contact-form-left .contact-form-left-title h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .contact-form .contact-form-left .contact-form-left-title h1 {
    font-size: 32px;
  }
}
.contact-form .contact-form-left .contact-form-left-title .contact-form-left-title-icon {
  width: 80px;
  height: 80px;
}
@media (max-width: 1024px) {
  .contact-form .contact-form-left .contact-form-left-title .contact-form-left-title-icon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .contact-form .contact-form-left .contact-form-left-title .contact-form-left-title-icon {
    width: 50px;
    height: 50px;
  }
}
.contact-form .contact-form-left .contact-form-left-title .contact-form-left-title-icon img {
  width: 100%;
  height: 100%;
}
.contact-form .contact-form-right {
  padding: 60px 50px;
}
@media (max-width: 1024px) {
  .contact-form .contact-form-right {
    padding: 40px 20px;
  }
}
@media (max-width: 767px) {
  .contact-form .contact-form-right {
    padding: 20px 0;
  }
}
.contact-form .contact-form-right .form {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "first-name last-name" "email phone" "message message" "agreement submit";
}
@media (max-width: 1024px) {
  .contact-form .contact-form-right .form {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .contact-form .contact-form-right .form {
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-areas: "first-name" "last-name" "email" "phone" "message" "agreement" "submit";
  }
}
.contact-form .contact-form-right .form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-form .contact-form-right .form-group label {
  font-family: "Inter";
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.contact-form .contact-form-right .form-group input,
.contact-form .contact-form-right .form-group textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #262626;
  border-radius: 8px;
  background-color: #1a1a1a;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: none;
}
.contact-form .contact-form-right .form-group input:focus,
.contact-form .contact-form-right .form-group textarea:focus {
  outline: 2px solid #ffd11a;
  caret-color: #fff;
  transition: outline 0.5s ease;
}
@media (max-width: 1024px) {
  .contact-form .contact-form-right .form-group input,
  .contact-form .contact-form-right .form-group textarea {
    padding: 12px;
  }
}
.contact-form .contact-form-right .form .first-name {
  grid-area: first-name;
}
.contact-form .contact-form-right .form .last-name {
  grid-area: last-name;
}
.contact-form .contact-form-right .form .email {
  grid-area: email;
}
.contact-form .contact-form-right .form .phone {
  grid-area: phone;
}
.contact-form .contact-form-right .form .message {
  grid-area: message;
}
.contact-form .contact-form-right .form .agreement {
  grid-area: agreement;
}
.contact-form .contact-form-right .form-submit {
  grid-area: submit;
  padding: 14px 20px;
  background: #ffd11a;
  color: #141414;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  transition: background 0.3s;
}
@media (hover: hover) {
  .contact-form .contact-form-right .form-submit:hover {
    background: #7e7e81;
    color: #fff;
  }
}
@media (hover: none) {
  .contact-form .contact-form-right .form-submit:active {
    background: #7e7e81;
    color: #fff;
  }
}
.contact-form .contact-form-right .form .agreement {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-form .contact-form-right .form .agreement input[type=checkbox] {
  width: 30px;
  height: 30px;
  outline: none;
}
@media (max-width: 1024px) {
  .contact-form .contact-form-right .form .agreement input[type=checkbox] {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 767px) {
  .contact-form .contact-form-right .form .agreement input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
}
.contact-form .contact-form-right .form .agreement label {
  transform: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.faqs {
  display: flex;
  justify-content: space-between;
  background-color: #141414;
  font-family: "Inter";
  border-top: 1px solid #262626;
}
@media (max-width: 767px) {
  .faqs {
    flex-direction: column;
    padding: 20px 16px;
  }
}
.faqs .faqs-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  border-right: 1px solid #262626;
  padding: 60px 50px;
}
@media (max-width: 1024px) {
  .faqs .faqs-left {
    gap: 20px;
    padding: 40px 20px;
  }
}
@media (max-width: 767px) {
  .faqs .faqs-left {
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #262626;
  }
}
.faqs .faqs-left .faqs-left-title h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .faqs .faqs-left .faqs-left-title h1 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .faqs .faqs-left .faqs-left-title h1 {
    font-size: 32px;
  }
}
.faqs .faqs-left .faqs-left-title .faqs-left-title-icon {
  width: 80px;
  height: 80px;
}
@media (max-width: 1024px) {
  .faqs .faqs-left .faqs-left-title .faqs-left-title-icon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .faqs .faqs-left .faqs-left-title .faqs-left-title-icon {
    width: 50px;
    height: 50px;
  }
}
.faqs .faqs-left .faqs-left-title .faqs-left-title-icon img {
  width: 100%;
  height: 100%;
}
.faqs .faqs-right {
  padding: 60px 50px;
}
@media (max-width: 1024px) {
  .faqs .faqs-right {
    padding: 40px 20px;
  }
}
@media (max-width: 767px) {
  .faqs .faqs-right {
    padding: 20px 0;
  }
}
.faqs .faqs-right .accordion .accordion-item {
  border: 1px solid #262626;
  border-radius: 12px;
  background: #1a1a1a;
  transition: all 0.3s linear;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .faqs .faqs-right .accordion .accordion-item {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .faqs .faqs-right .accordion .accordion-item {
    margin-bottom: 18px;
  }
}
.faqs .faqs-right .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.faqs .faqs-right .accordion .accordion-header {
  padding: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #262626;
  background: #1a1a1a;
  border-radius: 12px;
  font-weight: 500;
  color: #fff;
  font-size: 24px;
  transition: background 0.3s linear;
}
@media (max-width: 1024px) {
  .faqs .faqs-right .accordion .accordion-header {
    font-size: 20px;
    padding: 10px 14px;
  }
}
@media (max-width: 767px) {
  .faqs .faqs-right .accordion .accordion-header {
    font-size: 20px;
    padding: 16px 13px;
  }
}
.faqs .faqs-right .accordion .accordion-header .icon-container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faqs .faqs-right .accordion .accordion-header .icon-container .icon {
  width: 100%;
  height: 100%;
  transition: transform 0.3s linear;
}
.faqs .faqs-right .accordion .accordion-header.active {
  border-radius: 12px 12px 0 0;
}
.faqs .faqs-right .accordion .accordion-header.active .icon {
  transform: rotate(180deg);
}
.faqs .faqs-right .accordion .accordion-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear, padding 0.3s linear;
  color: #7e7e81;
  font-size: 16px;
  font-family: "Inter";
}
@media (max-width: 1024px) {
  .faqs .faqs-right .accordion .accordion-content {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .faqs .faqs-right .accordion .accordion-content {
    font-size: 14px;
  }
}
.faqs .faqs-right .accordion .accordion-content.active {
  padding: 20px;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.section-separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 50px;
  background-color: #1a1a1a;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
}
@media (max-width: 1024px) {
  .section-separator {
    padding: 80px 20px;
  }
}
@media (max-width: 767px) {
  .section-separator {
    flex-direction: column;
    gap: 30px;
  }
}
.section-separator .section-separator-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
@media (max-width: 1024px) {
  .section-separator .section-separator-content {
    gap: 12px;
  }
}
@media (max-width: 767px) {
  .section-separator .section-separator-content {
    width: 100%;
  }
}
.section-separator .section-separator-content span {
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #333333;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .section-separator .section-separator-content span {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .section-separator .section-separator-content span {
    font-size: 14px;
  }
}
.section-separator .section-separator-content h1 {
  font-family: "Kumbh Sans";
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 1024px) {
  .section-separator .section-separator-content h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .section-separator .section-separator-content h1 {
    font-size: 32px;
  }
}
.section-separator .section-separator-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 18px 24px;
  background-color: #141414;
  border-radius: 12px;
  border: 1px solid #262626;
}
@media (max-width: 1024px) {
  .section-separator .section-separator-button {
    gap: 15px;
    padding: 15px 20px;
  }
}
@media (max-width: 767px) {
  .section-separator .section-separator-button {
    justify-content: center;
    width: 100%;
    gap: 5px;
  }
}
@media (hover: hover) {
  .section-separator .section-separator-button:hover {
    background-color: #262626;
    border-color: #141414;
    cursor: pointer;
  }
}
@media (hover: none) {
  .section-separator .section-separator-button:active {
    background-color: #262626;
    border-color: #141414;
    cursor: pointer;
  }
}
.section-separator .section-separator-button a {
  color: inherit;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  color: #98989a;
}
.section-separator .section-separator-button a, .section-separator .section-separator-button a:hover {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .section-separator .section-separator-button a {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .section-separator .section-separator-button a {
    font-size: 16px;
  }
}

.section-tech-blogs {
  display: flex;
  justify-content: space-between;
  background-color: #141414;
  font-family: "Inter";
  border-top: 1px solid #262626;
}
@media (max-width: 767px) {
  .section-tech-blogs {
    flex-direction: column;
    padding: 20px 16px;
  }
}
.section-tech-blogs .section-tech-blogs-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  border-right: 1px solid #262626;
  padding: 60px 50px;
}
@media (max-width: 1024px) {
  .section-tech-blogs .section-tech-blogs-left {
    gap: 20px;
    padding: 40px 20px;
  }
}
@media (max-width: 767px) {
  .section-tech-blogs .section-tech-blogs-left {
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #262626;
  }
}
.section-tech-blogs .section-tech-blogs-left .section-tech-blogs-left-title h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .section-tech-blogs .section-tech-blogs-left .section-tech-blogs-left-title h1 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .section-tech-blogs .section-tech-blogs-left .section-tech-blogs-left-title h1 {
    font-size: 32px;
  }
}
.section-tech-blogs .section-tech-blogs-left .section-tech-blogs-left-title .section-tech-blogs-left-title-icon {
  width: 80px;
  height: 80px;
}
@media (max-width: 1024px) {
  .section-tech-blogs .section-tech-blogs-left .section-tech-blogs-left-title .section-tech-blogs-left-title-icon {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .section-tech-blogs .section-tech-blogs-left .section-tech-blogs-left-title .section-tech-blogs-left-title-icon {
    width: 50px;
    height: 50px;
  }
}
.section-tech-blogs .section-tech-blogs-left .section-tech-blogs-left-title .section-tech-blogs-left-title-icon img {
  width: 100%;
  height: 100%;
}
.section-tech-blogs .section-tech-blogs-right {
  padding: 60px 50px;
}
@media (max-width: 1024px) {
  .section-tech-blogs .section-tech-blogs-right {
    padding: 40px 20px;
  }
}
@media (max-width: 767px) {
  .section-tech-blogs .section-tech-blogs-right {
    padding: 20px 0;
  }
}
.section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 767px) {
  .section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
.section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards .section-tech-blogs-right-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding: 30px;
  background-color: #1a1a1a;
  border-radius: 12px;
  border: 1px solid #262626;
}
@media (max-width: 1024px) {
  .section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards .section-tech-blogs-right-card {
    gap: 10px;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards .section-tech-blogs-right-card {
    padding: 10px;
  }
}
.section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards .section-tech-blogs-right-card h2 {
  font-family: "Inter";
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards .section-tech-blogs-right-card h2 {
    font-size: 20px;
  }
}
.section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards .section-tech-blogs-right-card p {
  font-family: "Inter";
  color: #98989a;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .section-tech-blogs .section-tech-blogs-right .section-tech-blogs-right-cards .section-tech-blogs-right-card p {
    font-size: 15px;
  }
}

.blog-card {
  width: 100%;
  max-width: 1920px;
  height: auto;
  padding: 80px 50px;
  border-bottom: 1px solid #262626;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  background-color: #1a1a1a;
}
@media (max-width: 1024px) {
  .blog-card {
    padding: 60px 20px;
    gap: 40px;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .blog-card {
    padding: 40px 16px;
    gap: 30px;
  }
}
.blog-card .user-info {
  height: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 767px) {
  .blog-card .user-info {
    gap: 12px;
  }
}
.blog-card .user-info .user-avatar {
  width: 80px;
  height: 80px;
  background: #262626;
  border-radius: 42px;
}
@media (max-width: 1024px) {
  .blog-card .user-info .user-avatar {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .blog-card .user-info .user-avatar {
    width: 50px;
    height: 50px;
  }
}
.blog-card .user-info .user-details {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
}
.blog-card .user-info .user-details .user-name {
  color: #fff;
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 1024px) {
  .blog-card .user-info .user-details .user-name {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .blog-card .user-info .user-details .user-name {
    font-size: 20px;
    line-height: 24px;
  }
}
.blog-card .user-info .user-details .user-category {
  color: #98989a;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1024px) {
  .blog-card .user-info .user-details .user-category {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .blog-card .user-info .user-details .user-category {
    font-size: 14px;
    line-height: 20px;
  }
}
.blog-card .blog-content {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1024px) {
  .blog-card .blog-content {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .blog-card .blog-content {
    gap: 20px;
  }
}
.blog-card .blog-content .blog-meta {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta {
    gap: 20px;
  }
}
.blog-card .blog-content .blog-meta .blog-date {
  color: #98989a;
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 1024px) {
  .blog-card .blog-content .blog-meta .blog-date {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta .blog-date {
    font-size: 20px;
    line-height: 24px;
  }
}
.blog-card .blog-content .blog-meta .blog-title {
  color: #fff;
  font-size: 32px;
  font-family: Inter;
  font-weight: 600;
  line-height: 39px;
}
@media (max-width: 1024px) {
  .blog-card .blog-content .blog-meta .blog-title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta .blog-title {
    font-size: 24px;
    line-height: 28px;
  }
}
.blog-card .blog-content .blog-meta .blog-excerpt {
  color: #98989a;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1024px) {
  .blog-card .blog-content .blog-meta .blog-excerpt {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta .blog-excerpt {
    font-size: 14px;
    line-height: 20px;
  }
}
.blog-card .blog-content .blog-meta .meta-stats {
  display: inline-flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta .meta-stats {
    flex-wrap: wrap;
  }
}
.blog-card .blog-content .blog-meta .meta-stats .stat-item {
  padding: 8px 16px;
  background: #1a1a1a;
  border-radius: 100px;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta .meta-stats .stat-item {
    padding: 6px 12px;
  }
}
.blog-card .blog-content .blog-meta .meta-stats .stat-item .stat-icon {
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta .meta-stats .stat-item .stat-icon {
    width: 20px;
    height: 20px;
  }
}
.blog-card .blog-content .blog-meta .meta-stats .stat-item .stat-icon img {
  width: 100%;
  height: 100%;
}
.blog-card .blog-content .blog-meta .meta-stats .stat-item .stat-value {
  color: #98989a;
  font-size: 16px;
  font-family: Kumbh Sans;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1024px) {
  .blog-card .blog-content .blog-meta .meta-stats .stat-item .stat-value {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .blog-card .blog-content .blog-meta .meta-stats .stat-item .stat-value {
    font-size: 14px;
    line-height: 20px;
  }
}
.blog-card .blog-content .view-button {
  padding: 18px 24px;
  background: #141414;
  border-radius: 12px;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .blog-card .blog-content .view-button {
    padding: 14px 20px;
  }
}
@media (max-width: 767px) {
  .blog-card .blog-content .view-button {
    padding: 12px 16px;
    width: 100%;
    justify-content: center;
  }
}
.blog-card .blog-content .view-button span {
  color: #98989a;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1024px) {
  .blog-card .blog-content .view-button span {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .blog-card .blog-content .view-button span {
    font-size: 14px;
    line-height: 20px;
  }
}
.blog-card .blog-content .view-button .arrow-icon {
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  .blog-card .blog-content .view-button .arrow-icon {
    width: 20px;
    height: 20px;
  }
}

.video-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #141414;
}
@media (max-width: 767px) {
  .video-section {
    grid-template-columns: 1fr;
  }
}
.video-section .video-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 80px 50px;
  border: 1px solid #262626;
}
@media (max-width: 1024px) {
  .video-section .video-card {
    padding: 50px 20px;
  }
}
@media (max-width: 767px) {
  .video-section .video-card {
    padding: 20px 16px;
  }
}
.video-section .video-card .video-container {
  width: 100%;
}
.video-section .video-card .video-container .video-iframe {
  width: 100%;
  height: 320px;
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .video-section .video-card .video-container .video-iframe {
    height: 300px;
    border-radius: 10px;
  }
}
@media (max-width: 767px) {
  .video-section .video-card .video-container .video-iframe {
    height: 220px;
  }
}
.video-section .video-card .video-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
}
.video-section .video-card .video-info h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 1024px) {
  .video-section .video-card .video-info h3 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .video-section .video-card .video-info h3 {
    font-size: 14px;
  }
}
.video-section .video-card .video-info p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #98989a;
}
@media (max-width: 1024px) {
  .video-section .video-card .video-info p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .video-section .video-card .video-info p {
    font-size: 14px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  width: 100%;
  height: 100%;
  padding: 80px 20px;
}
.container .logo img {
  width: 250px;
  height: auto;
}
.container .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 350px;
}
.container .form h1 {
  font-family: "Kumbh Sans";
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.container .form .terms {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #98989a;
  max-width: 300px;
}
.container .form .terms .terms-link {
  text-decoration: underline;
  color: #fff;
}
.container .form .input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.container .form .input-group label {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.container .form .input-group input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}
.container .form .input-group input:focus {
  border-color: #333333;
}
.container .form .input-group .error-message {
  font-size: 16px;
  margin-top: 5px;
}
.container .form button {
  width: 100%;
  height: 45px;
  background: #333333;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.container .form button:hover {
  color: #000;
  background: #ffd633;
}
.container .form .form-bottom {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.container .form .form-bottom .login-link {
  color: #ffd633;
  text-decoration: underline;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  padding: 100px 50px;
}
@media (max-width: 1024px) {
  .call-to-action {
    padding: 60px 20px;
  }
}
@media (max-width: 767px) {
  .call-to-action {
    padding: 40px 16px;
    gap: 220px;
  }
}
.call-to-action .call-to-action-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  height: 200px;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-top {
    height: 150px;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-top {
    flex-direction: column;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-logo {
  width: 180px;
  height: auto;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-top .call-to-action-top-logo {
    width: 140px;
  }
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-top .call-to-action-top-logo {
    display: none;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-logo img {
  width: 100%;
  height: 100%;
}
.call-to-action .call-to-action-top .call-to-action-top-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-top .call-to-action-top-title {
    gap: 20px;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: "Inter";
  font-weight: 500;
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first {
    display: none;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first span {
  padding: 6px 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #333333;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first span {
    padding: 4px 8px;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first h1 {
  font-family: "Kumbh Sans";
  font-size: 32px;
  color: #fff;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first h1 {
    font-size: 28px;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second {
  font-size: 18px;
  color: #7e7e81;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second {
    display: none;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first-mobile {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Inter";
  }
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first-mobile a img {
    width: 60px;
    height: 60px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-first-mobile span {
    padding: 4px 8px;
    border-radius: 8px;
    color: #fff;
    background-color: #333333;
    font-size: 16px;
    font-weight: 500;
  }
}
.call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second-mobile {
  display: none;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second-mobile h1 {
    font-family: "Kumbh Sans";
    font-size: 32px;
    font-weight: 500;
    color: #fff;
  }
  .call-to-action .call-to-action-top .call-to-action-top-title .call-to-action-top-title-second-mobile p {
    font-family: "Inter";
    font-size: 16px;
    color: #7e7e81;
  }
}
.call-to-action .call-to-action-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #141414;
  border-radius: 12px;
  border: 1px solid #262626;
  padding: 20px;
  font-family: "Inter";
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-bottom {
    gap: 10px;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .call-to-action .call-to-action-bottom {
    flex-direction: column;
  }
}
.call-to-action .call-to-action-bottom .call-to-action-bottom-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 45px;
  background-color: #1a1a1a;
  border-radius: 12px;
  border: 1px solid #262626;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-bottom .call-to-action-bottom-card {
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
  }
}
.call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-top h3 {
  font-size: 19px;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-top h3 {
    font-size: 15px;
  }
}
.call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-top a {
  width: 50px;
  height: 50px;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-top a {
    width: 40px;
    height: 40px;
  }
}
.call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-top a img {
  width: 100%;
  height: 100%;
}
.call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-bottom p {
  color: #98989a;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .call-to-action .call-to-action-bottom .call-to-action-bottom-card .call-to-action-bottom-card-bottom p {
    font-size: 13px;
  }
}

@font-face {
  font-family: "Kumbh Sans", sans-serif;
  src: url("../../assets/fonts/KumbhSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../../assets/fonts/KumbhSans-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1a1a1a;
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 20px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 20px 16px;
  }
}
.header .header-logo {
  color: inherit;
  width: 170px;
  height: 50px;
}
.header .header-logo, .header .header-logo:hover {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .header .header-logo {
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .header .header-logo {
    width: 130px;
    height: 40px;
  }
}
.header .header-logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .header .nav {
    display: none;
  }
}
.header .nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .header .nav .nav-list {
    gap: 10px;
  }
}
.header .nav .nav-list li {
  list-style-type: none;
}
.header .nav-list-item {
  color: inherit;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #7e7e81;
}
.header .nav-list-item, .header .nav-list-item:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .header .nav-list-item:hover {
    color: #fff;
  }
}
@media (hover: none) {
  .header .nav-list-item:active {
    color: #fff;
  }
}
@media (max-width: 1024px) {
  .header .nav-list-item {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header .nav-list-item {
    font-size: 28px;
  }
}
.header .nav-list-item.active {
  font-weight: 500;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #333333;
  background: #141414;
}
@media (max-width: 1024px) {
  .header .nav-list-item.active {
    padding: 10px 15px;
    border-radius: 8px;
  }
}
.header .registration-buttons {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .header .registration-buttons {
    display: none;
  }
}
.header .registration-buttons button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.header .registration-buttons button a {
  color: inherit;
  background-color: #ffd11a;
  padding: 14px 20px;
  border-radius: 10px;
  color: #141414;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
}
.header .registration-buttons button a, .header .registration-buttons button a:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .header .registration-buttons button a:hover {
    color: #fff;
    background-color: #ffd633;
  }
}
@media (hover: none) {
  .header .registration-buttons button a:active {
    color: #fff;
    background-color: #ffd633;
  }
}
@media (max-width: 1024px) {
  .header .registration-buttons button a {
    padding: 10px 14px;
    font-size: 15px;
  }
}
.header .burger-menu {
  display: none;
}
@media (max-width: 767px) {
  .header .burger-menu {
    display: inherit;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .header .burger-menu .off-screen-menu {
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.6s linear;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    width: 100%;
    height: 100vh;
    padding: 17px 20px;
    background-color: #1a1a1a;
  }
  .header .burger-menu .off-screen-menu .burger-menu-logo {
    width: 120px;
    height: 60px;
  }
  .header .burger-menu .off-screen-menu .burger-menu-logo img {
    width: 100%;
    height: 100%;
  }
  .header .burger-menu .off-screen-menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 10px;
  }
  .header .burger-menu .off-screen-menu ul li {
    list-style-type: none;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons {
    display: flex;
    justify-content: start;
    gap: 25px;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons button {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons button a {
    color: inherit;
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    padding: 16px 13px;
    border-radius: 10px;
    background-color: #ffd11a;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons button a, .header .burger-menu .off-screen-menu .burger-menu-buttons button a:hover {
    text-decoration: none;
  }
  .header .burger-menu .off-screen-menu.active {
    right: 0;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .header .burger-menu .burger-menu-lines {
    position: relative;
    right: 0;
    height: 50px;
    width: 40px;
    z-index: 2000;
  }
  .header .burger-menu .burger-menu-lines span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
    background-color: #fff;
    border-radius: 25px;
    height: 5px;
    width: 100%;
  }
  .header .burger-menu .burger-menu-lines span:nth-child(1) {
    top: 25%;
  }
  .header .burger-menu .burger-menu-lines span:nth-child(3) {
    top: 75%;
  }
  .header .burger-menu .burger-menu-lines.active span {
    background-color: #fff;
  }
  .header .burger-menu .burger-menu-lines.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header .burger-menu .burger-menu-lines.active span:nth-child(2) {
    opacity: 0;
  }
  .header .burger-menu .burger-menu-lines.active span:nth-child(3) {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.footer {
  background-color: #141414;
  padding: 20px 50px;
}
@media (max-width: 1024px) {
  .footer {
    padding: 20px 20px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 20px 16px;
  }
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  width: 100%;
  border-bottom: 1px solid #262626;
}
@media (max-width: 1024px) {
  .footer .footer-top {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .footer .footer-top {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0;
  }
}
.footer .footer-top .footer-top-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer .footer-top .footer-top-section {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section {
    gap: 10px;
  }
}
.footer .footer-top .footer-top-section h3 {
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .footer .footer-top .footer-top-section h3 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section h3 {
    font-size: 20px;
  }
}
.footer .footer-top .footer-top-section ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section ul {
    gap: 10px;
  }
}
.footer .footer-top .footer-top-section ul li {
  list-style-type: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
@media (max-width: 1024px) {
  .footer .footer-top .footer-top-section ul li {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section ul li {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .footer .footer-top .footer-top-section ul li:hover {
    cursor: pointer;
    color: #fff;
  }
}
@media (hover: none) {
  .footer .footer-top .footer-top-section ul li:active {
    cursor: pointer;
    color: #fff;
  }
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
@media (max-width: 1024px) {
  .footer .footer-bottom {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom {
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
  }
}
.footer .footer-bottom .footer-privacy-terms {
  display: flex;
  gap: 10px;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .footer-privacy-terms {
    gap: 5px;
  }
}
.footer .footer-bottom .footer-privacy-terms .privacy-terms-separator {
  background-color: #262626;
  height: 20px;
  width: 1.5px;
}
.footer .footer-bottom .footer-privacy-terms a {
  color: inherit;
  color: #666666;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.footer .footer-bottom .footer-privacy-terms a, .footer .footer-bottom .footer-privacy-terms a:hover {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .footer-privacy-terms a {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom .footer-privacy-terms a {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .footer .footer-bottom .footer-privacy-terms a:hover {
    color: #fff;
  }
}
@media (hover: none) {
  .footer .footer-bottom .footer-privacy-terms a:active {
    color: #fff;
  }
}
.footer .footer-bottom .social-media-icons {
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .social-media-icons {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom .social-media-icons {
    gap: 25px;
  }
}
.footer .footer-bottom .company-rights {
  color: #666666;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .company-rights {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom .company-rights {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */