.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  width: 100%;
  height: 100vh;
  padding: 80px 20px;
}
.container .logo img {
  width: 250px;
  height: auto;
}
.container .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 350px;
}
.container .form h1 {
  font-family: "Kumbh Sans";
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.container .form .terms {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #98989a;
  max-width: 300px;
}
.container .form .terms .terms-link {
  text-decoration: underline;
  color: #fff;
}
.container .form .input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.container .form .input-group label {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.container .form .input-group input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}
.container .form .input-group input:focus {
  border-color: #333333;
}
.container .form .input-group .error-message {
  font-size: 16px;
  margin-top: 5px;
}
.container .form button {
  width: 100%;
  height: 45px;
  background: #333333;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.container .form button:hover {
  color: #000;
  background: #ffd633;
}
.container .form .form-bottom {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.container .form .form-bottom .login-link {
  color: #ffd633;
  text-decoration: underline;
}

@font-face {
  font-family: "Kumbh Sans", sans-serif;
  src: url("../../assets/fonts/KumbhSans-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../../assets/fonts/KumbhSans-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-SemiBold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter_18pt-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1a1a1a;
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 20px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 20px 16px;
  }
}
.header .header-logo {
  color: inherit;
  width: 170px;
  height: 50px;
}
.header .header-logo, .header .header-logo:hover {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .header .header-logo {
    width: 140px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .header .header-logo {
    width: 110px;
    height: 30px;
  }
}
.header .header-logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .header .nav {
    display: none;
  }
}
.header .nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1024px) {
  .header .nav .nav-list {
    gap: 10px;
  }
}
.header .nav .nav-list li {
  list-style-type: none;
}
.header .nav-list-item {
  color: inherit;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #7e7e81;
}
.header .nav-list-item, .header .nav-list-item:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .header .nav-list-item:hover {
    color: #fff;
  }
}
@media (hover: none) {
  .header .nav-list-item:active {
    color: #fff;
  }
}
@media (max-width: 1024px) {
  .header .nav-list-item {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header .nav-list-item {
    font-size: 28px;
  }
}
.header .nav-list-item.active {
  font-weight: 500;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #333333;
  background: #141414;
}
@media (max-width: 1024px) {
  .header .nav-list-item.active {
    padding: 10px 15px;
    border-radius: 8px;
  }
}
.header .registration-buttons {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .header .registration-buttons {
    display: none;
  }
}
.header .registration-buttons button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.header .registration-buttons button a {
  color: inherit;
  background-color: #ffd11a;
  padding: 14px 20px;
  border-radius: 10px;
  color: #141414;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
}
.header .registration-buttons button a, .header .registration-buttons button a:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .header .registration-buttons button a:hover {
    color: #fff;
    background-color: #ffd633;
  }
}
@media (hover: none) {
  .header .registration-buttons button a:active {
    color: #fff;
    background-color: #ffd633;
  }
}
@media (max-width: 1024px) {
  .header .registration-buttons button a {
    padding: 10px 14px;
    font-size: 15px;
  }
}
.header .burger-menu {
  display: none;
}
@media (max-width: 767px) {
  .header .burger-menu {
    display: inherit;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .header .burger-menu .off-screen-menu {
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.6s linear;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    width: 100%;
    height: 100vh;
    padding: 17px 20px;
    background-color: #1a1a1a;
  }
  .header .burger-menu .off-screen-menu .burger-menu-logo {
    width: 120px;
    height: 60px;
  }
  .header .burger-menu .off-screen-menu .burger-menu-logo img {
    width: 100%;
    height: 100%;
  }
  .header .burger-menu .off-screen-menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 10px;
  }
  .header .burger-menu .off-screen-menu ul li {
    list-style-type: none;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons {
    display: flex;
    justify-content: start;
    gap: 25px;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons button {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons button a {
    color: inherit;
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    padding: 16px 13px;
    border-radius: 10px;
    background-color: #ffd11a;
  }
  .header .burger-menu .off-screen-menu .burger-menu-buttons button a, .header .burger-menu .off-screen-menu .burger-menu-buttons button a:hover {
    text-decoration: none;
  }
  .header .burger-menu .off-screen-menu.active {
    right: 0;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .header .burger-menu .burger-menu-lines {
    position: relative;
    right: 0;
    height: 50px;
    width: 40px;
    z-index: 2000;
  }
  .header .burger-menu .burger-menu-lines span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
    background-color: #fff;
    border-radius: 25px;
    height: 5px;
    width: 100%;
  }
  .header .burger-menu .burger-menu-lines span:nth-child(1) {
    top: 25%;
  }
  .header .burger-menu .burger-menu-lines span:nth-child(3) {
    top: 75%;
  }
  .header .burger-menu .burger-menu-lines.active span {
    background-color: #fff;
  }
  .header .burger-menu .burger-menu-lines.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header .burger-menu .burger-menu-lines.active span:nth-child(2) {
    opacity: 0;
  }
  .header .burger-menu .burger-menu-lines.active span:nth-child(3) {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.footer {
  background-color: #141414;
  padding: 20px 50px;
}
@media (max-width: 1024px) {
  .footer {
    padding: 20px 20px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 20px 16px;
  }
}
.footer .footer-top {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  width: 100%;
  border-bottom: 1px solid #262626;
}
@media (max-width: 1024px) {
  .footer .footer-top {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .footer .footer-top {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 0;
  }
}
.footer .footer-top .footer-top-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer .footer-top .footer-top-section {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section {
    gap: 10px;
  }
}
.footer .footer-top .footer-top-section h3 {
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .footer .footer-top .footer-top-section h3 {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section h3 {
    font-size: 20px;
  }
}
.footer .footer-top .footer-top-section ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section ul {
    gap: 10px;
  }
}
.footer .footer-top .footer-top-section ul li {
  list-style-type: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
@media (max-width: 1024px) {
  .footer .footer-top .footer-top-section ul li {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-top .footer-top-section ul li {
    font-size: 16px;
  }
}
@media (hover: hover) {
  .footer .footer-top .footer-top-section ul li:hover {
    cursor: pointer;
    color: #fff;
  }
}
@media (hover: none) {
  .footer .footer-top .footer-top-section ul li:active {
    cursor: pointer;
    color: #fff;
  }
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
@media (max-width: 1024px) {
  .footer .footer-bottom {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom {
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
  }
}
.footer .footer-bottom .footer-privacy-terms {
  display: flex;
  gap: 10px;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .footer-privacy-terms {
    gap: 5px;
  }
}
.footer .footer-bottom .footer-privacy-terms .privacy-terms-separator {
  background-color: #262626;
  height: 20px;
  width: 1.5px;
}
.footer .footer-bottom .footer-privacy-terms a {
  color: inherit;
  color: #666666;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
.footer .footer-bottom .footer-privacy-terms a, .footer .footer-bottom .footer-privacy-terms a:hover {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .footer-privacy-terms a {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom .footer-privacy-terms a {
    font-size: 16px;
  }
}
@media (hover: hover) {
  .footer .footer-bottom .footer-privacy-terms a:hover {
    color: #fff;
  }
}
@media (hover: none) {
  .footer .footer-bottom .footer-privacy-terms a:active {
    color: #fff;
  }
}
.footer .footer-bottom .social-media-icons {
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .social-media-icons {
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom .social-media-icons {
    gap: 25px;
  }
}
.footer .footer-bottom .company-rights {
  color: #666666;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .footer .footer-bottom .company-rights {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom .company-rights {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */