@font-face {
  font-family: 'Kumbh Sans', sans-serif;
  src: url('../../assets/fonts/KumbhSans-Regular.ttf') format('woff2');
  font-weight: 400; // Regular
  font-style: normal;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('../../assets/fonts/KumbhSans-Medium.ttf') format('woff2');
  font-weight: 500; // Medium
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter_18pt-Regular.ttf') format('woff2');
  font-weight: 400; // Regular
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter_18pt-Medium.ttf') format('woff2');
  font-weight: 500; // Medium
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter_18pt-SemiBold.ttf') format('woff2');
  font-weight: 600; // Semi-Bold
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter_18pt-Bold.ttf') format('woff2');
  font-weight: 700; // Bold
  font-style: normal;
}
