$mobile-max: 768px;
$tablet-max: 1024px;
$desktop-min: 1025px;

@mixin mobile {
    @media (max-width: $mobile-max) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet-max) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-min) {
        @content;
    }
}


@mixin hover {
    @media (hover: hover){
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}




