// ===== COLORS =====
// ----- ABSOLUTE COLORS -----
$color-abs-white: #fff;
$color-abs-black: #000;
// ----- YELLOW SHADES -----
$color-yellow-55: #ffd11a;
$color-yellow-60: #ffd633;
$color-yellow-70: #ffe066;
$color-yellow-80: #ffeb99;
$color-yellow-90: #fff5cc;
$color-yellow-95: #fffae5;
$color-yellow-97: #fffcf0;
$color-yellow-99: #fbfbfe;
// ----- DARK SHADES -----
$color-dark-08: #141414;
$color-dark-10: #1a1a1a;
$color-dark-15: #262626;
$color-dark-20: #333333;
$color-dark-25: #404040;
$color-dark-30: #4d4d4d;
$color-dark-35: #595959;
$color-dark-40: #666666;
// ----- GREY SHADES -----
$color-grey-50: #7e7e81;
$color-grey-60: #98989a;
$color-grey-70: #b3b3b3;
$color-grey-80: #cccccc;
$color-grey-90: #e4e4e7;
$color-grey-95: #f1f1f3;
$color-grey-97: #f7f7f8;
$color-grey-99: #fcfcfd;

// ===== FONTS SIZES =====
// ----- DESKTOP FONT SIZES -----
$font-size-xl: 48px; 
$font-size-l: 40px;
$font-size-m: 32px; 
$font-size-s: 24px;
$font-size-xs: 16px; 
// ----- TABLET FONT SIZES -----
$font-size-xl-tablet: 40px; 
$font-size-l-tablet: 32px;
$font-size-m-tablet: 28px; 
$font-size-s-tablet: 20px;
$font-size-xs-tablet: 15px; 
// ----- MOBILE FONT SIZES -----
$font-size-xl-mobile: 32px; 
$font-size-l-mobile: 28px;
$font-size-m-mobile: 24px; 
$font-size-s-mobile: 20px;
$font-size-xs-mobile: 16px; 

// ===== FONT WEIGHTS =====
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// ===== SECTIONS PADDING =====
// ----- DESKTOP SECTIONS PADDING -----
$section-row-padding: 50px;
$section-column-padding: 120px;
// ----- TABLET SECTIONS PADDING -----
$section-row-padding-tablet: 20px;
$section-column-padding-tablet: 80px;
// ----- MOBILE SECTIONS PADDING -----
$section-row-padding-mobile: 16px;
$section-column-padding-mobile: 40px;

// ===== BUTTON PADDING =====
// ----- DESKTOP BUTTON PADDING -----
$button-padding: 14px 20px;
// ----- TABLET BUTTON PADDING -----
$button-padding-tablet: 10px 14px;
// ----- MOBILE BUTTON PADDING -----
$button-padding-mobile: 16px 13px;

// ===== BORDER RADIUS =====
$border-radius-primary: 10px;
$border-radius-secondary: 8px;